<h1 class="page-header">
  新增<%= t('activerecord.models.organizer') %>
  <small class="pull-right">
    <a href="<%= admin_organizers_path %>" class="btn btn-default" title="举办方列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>