<h1 class="page-header">
  编辑<%= t('activerecord.models.event') %>
  <small class="pull-right">
    <a href="<%= admin_event_path(@event) %>" title="显示该比赛项目" class="btn btn-default">
      <i class="icon-eye-open icon-only"></i></a>
    <a href="<%= admin_events_path %>" title="比赛项目列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>