<h1 class="page-header">
  新增<%= t('activerecord.models.event') %>
  <small class="pull-right">
    <a href="<%= admin_events_path %>" class="btn btn-default" title="比赛项目列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>