<h1 class="page-header">
  修改密码
</h1>

  <% if flash[:error] %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
      </div>
  <% end %>

  <div class="panel panel-info">
    <div class="panel-heading">修改密码</div>
    <div class="panel-body">
      <form accept-charset="UTF-8" action="<%= change_password_post_admin_accounts_path %>"  method="post" novalidate="novalidate">
        <div class="form-inputs">
          <div class="form-group string required">
            <label class="string required control-label" for="job_number">
              工号
            </label>
            <input id="job_number" class="string required form-control" type="text" name="job_number" readonly
                   value="<%= @current_admin.job_number %>">
          </div>
          <div class="form-group string required">
            <label class="string required control-label" for="password">
              <abbr title="必填字段">*</abbr>
              原密码
            </label>
            <input id="password" class="string required form-control" type="password" name="password" autocomplete="Off">
          </div>
          <div class="form-group string required">
            <label class="string required control-label" for="new_password">
              <abbr title="必填字段">*</abbr>
              新密码
            </label>
            <input id="new_password" class="string required form-control" type="password" name="new_password" autocomplete="Off">
          </div>
        </div>

        <div class="form-actions">
          <input class="btn btn-default btn btn-primary" name="commit" type="submit" value="提交"/>
        </div>
      </form>
    </div>
  </div>
