<h1 class="page-header">
  工号：<%= @current_admin.job_number %>
  <small class="pull-right">
    <%= show_permissions(@current_admin) %>
  </small>
</h1>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        用户信息
      </div>
      <div class="panel-body">
        <ul>
          <li>用户总数： <span><%= @all_user_num %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>