<!--<script type="text/javascript" src="/assets/kindeditor/kindeditor.js"></script>-->

<div id="creative_activities">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content" id="new-activities">
      <div class="title">
        <p class="col-r blue t-48 t-bold pull-down-0">上传作品</p>
      </div>
      <div class="content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
