<!--<script type="text/javascript" src="/assets/kindeditor/kindeditor.js"></script>-->

<div class="container">
  <h1 class="page-header">
    新增<%= t('activerecord.models.creative_activity') %>
    <small class="pull-right">
      <a href="<%= creative_activities_path %>" class="btn btn-default" title="创意列表">
        列表</a>
    </small>
  </h1>
  <!--<textarea class="" id="creative_activity_description1" name="content" style="width: 80%; height:300px;"></textarea>-->
  <%= render 'form' %>
</div>
