<div id="art">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content">
      <div class="art-list">
        <div class="title">
          <img src="/images/competion-logo.png" alt=""/>
          <span class="t-24 blue col-r">上传作品列表</span>
        </div>
        <div class="content">
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-14 pull-down-20"><i class="t-18 fa fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;绿豆蛙卖萌机器人</p>

              <p class="pull-down-0 t-14">Vivan <a class="col-r t-14"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;1260</a>
              </p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="footer text-center">
            <div class="pagi t-14">
              <a class="prev" href=""><i class="fa fa-caret-left"></i>上一页</a>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <span>...</span>
              <a href="">20</a>
              <a class="next" href="">下一页<i class="fa fa-caret-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>