<div id="art">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content">
      <div class="art-info">
        <div class="title">
          <img src="/images/competion-logo.png" alt=""/>
          <span class="t-24 blue col-r">作品赏析</span>
        </div>
        <div class="content">
          <div class="synopsis">
            <div class="col-l">
              <p class="t-20 t-bold pull-down-5">绿豆蛙卖萌机器人</p>
              <p class="t-12 grey">2015年10月23日12:00:50</p>
              <p class="t-14">这里是绿豆蛙卖萌机器人的一些简介，这里是绿豆蛙卖萌机器人的一些简介，这里是绿豆蛙卖萌机器人的一些简介，这里是绿豆蛙卖萌机器人的一些简介，这里是绿豆蛙卖萌机器人的一些简介，这里是绿豆蛙卖萌机器人的一些简介，</p>
            </div>
            <div class="col-r">
              <div class="author">
                <p class="t-20 t-bold">Vivian</p>
              </div>
              <div class="vote" title="投他一票">
                <i class="t-26 fa fa-heart-o"></i>
                <span class="t-14">1092</span>
              </div>
              <div class="clearfix"></div>
              <div class="btn-rate">
                <button class="btn-prev-art"><i class="fa fa-caret-left"></i></button>
                <button class="btn-back-to-list">全部作品</button>
                <button class="btn-next-art active"><i class="fa fa-caret-right"></i></button>
              </div>
            </div>
          </div>
          <div class="content-content" style="height: 500px">
            <!--富文本内容-->
          </div>
          <div class="btn-rate">
            <button class="btn-prev-art"><i class="fa fa-caret-left"></i></button>
            <button class="btn-back-to-list">全部作品</button>
            <button class="btn-next-art active"><i class="fa fa-caret-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>