<div id="news">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content">
      <div class="news-banner">
        <div style="height: 457px" class="swiper-container">
          <div class="swiper-wrapper">
            <div style="background: #ff0000" class="swiper-slide"></div>
            <div style="background: #0000ff" class="swiper-slide"></div>
            <div style="background: #00ff00" class="swiper-slide"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="title">
          第一届豆姆机器人大赛
        </div>
        <div class="thumb-menu">
          <ul class="items">
            <li class="item active">
              <img src="/images/news.jpg" alt=""/>
            </li>
            <li class="item">
              <img src="/images/news.jpg" alt=""/>
            </li>
            <li class="item">
              <img src="/images/news.jpg" alt=""/>
            </li>
          </ul>
        </div>
      </div>
      <div class="moment">
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
        <div class="moment-item">
          <div class="pic">
            <img src="/images/news.jpg" alt=""/>
          </div>
          <div class="dec">
            <p class="t-14">冰壶大赛精彩瞬间</p>
          </div>
        </div>
      </div>
      <div class="video">
        <div class="title">
          <p class="t-18">影像记录</p>
        </div>
        <div class="content">
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
          <div class="video-item">
            <div class="pic">
              <img src="/images/work-item01.jpg" alt=""/>

              <div class="after">
                <i class="fa fa-play t-22"></i>
              </div>
            </div>
            <div class="dec">
              <p class="t-14">冰壶大赛影像记录</p>
            </div>
          </div>
        </div>
      </div>
      <div class="new-list">
        <div class="title">
          <p class="t-18">新闻列表</p>
        </div>
        <div class="content">
          <div class="item">
            <div class="pic">
              <img src="/images/news.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-18 blue">最新赛事信息 <span class="t-12 col-r grey">2015年10月22日</span></p>

              <p class="t-14">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/news.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-18 blue">最新赛事信息 <span class="t-12 col-r grey">2015年10月22日</span></p>

              <p class="t-14">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/news.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-18 blue">最新赛事信息 <span class="t-12 col-r grey">2015年10月22日</span></p>

              <p class="t-14">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/news.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-18 blue">最新赛事信息 <span class="t-12 col-r grey">2015年10月22日</span></p>

              <p class="t-14">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/news.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-18 blue">最新赛事信息 <span class="t-12 col-r grey">2015年10月22日</span></p>

              <p class="t-14">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/images/news.jpg" alt=""/>
            </div>
            <div class="dec">
              <p class="t-18 blue">最新赛事信息 <span class="t-12 col-r grey">2015年10月22日</span></p>

              <p class="t-14">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
            </div>
          </div>
        </div>
        <div class="footer text-center">
          <div class="pagi t-14">
            <a class="prev" href=""><i class="fa fa-caret-left"></i>上一页</a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <span>...</span>
            <a href="">20</a>
            <a class="next" href="">下一页<i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

