<div id="news">
  <div class="floor">
    <div id="nav" class="nav-v2">
      <%= render 'layouts/nav_menu' %>
    </div>
    <div class="container-content">
      <div class="show-news">
        <div class="new-main">
          <div class="title">
            <p class="t-24 blue">DOME豆姆文化有限公司，最新赛事信息 <span class="t-12 grey col-r">2015年10月22日</span></p>
          </div>
          <div class="content text-center">
            <img class="pull-down-10" src="/images/dy-video-bk.jpg" alt=""/>

            <p class="t-14 text-paragraph pull-down-20">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>

            <p class="t-14 text-paragraph pull-down-20">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>

            <p class="t-14 text-paragraph pull-down-20">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>

            <p class="t-14 text-paragraph pull-down-20">执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。执行团队有着长期从事在机器人教育和竞赛活动的经验。执行团队有着长期从事在机器人教育和竞赛活动的经验。为学校提供线上以及线下的机器人教学整体解决方案。为学校提供线上以及线下的机器人教学整体解决方案。</p>
          </div>
          <div class="footer text-center">
            <div class="pagi t-14">
              <a class="prev" href=""><i class="fa fa-caret-left"></i>上一页</a>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <span>...</span>
              <a href="">20</a>
              <a class="next" href="">下一页<i class="fa fa-caret-right"></i></a>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="record">
            <div class="title">
              <p class="t-14">影像记录</p>
            </div>
            <div class="content">
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <div class="play-icon text-center">
                    <i class="t-14 fa fa-play"></i>
                  </div>
                  <p class="t-14">冰壶大赛精彩瞬间</p>
                </div>
              </div>
            </div>
          </div>
          <div class="news-recommend">
            <div class="title">
              <p class="t-14">新闻列表</p>
            </div>
            <div class="content">
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <p class="t-18 blue">ROBODOU机器人大赛</p>

                  <p class="t-14">为学校提供线上以及线下的机器人教学整体解决方案。</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <p class="t-18 blue">ROBODOU机器人大赛</p>

                  <p class="t-14">为学校提供线上以及线下的机器人教学整体解决方案。</p>
                </div>
              </div>
              <div class="item">
                <div class="pic">
                  <img src="/images/news.jpg" alt=""/>
                </div>
                <div class="dec">
                  <p class="t-18 blue">ROBODOU机器人大赛</p>

                  <p class="t-14">为学校提供线上以及线下的机器人教学整体解决方案。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>