<h1 class="page-header">
  新增<%= t('activerecord.models.role') %>
  <small class="pull-right">
    <a href="<%= admin_roles_path %>" class="btn btn-default" title="角色列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>