<h1 class="page-header">
  新增<%= t('activerecord.models.user') %>
  <small class="pull-right">
    <a href="<%= admin_users_path %>" class="btn btn-default" title="返回列表">
      <i class="icon-reply icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>

