<h1 class="page-header">
  新增<%= t('activerecord.models.team') %>
  <small class="pull-right">
    <a href="<%= admin_teams_path %>" class="btn btn-default" title="队伍列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>


<%= render 'form' %>