<h1 class="page-header">
    修改赛事信息
    <small class="pull-right">
      <a href="<%= admin_competitions_path %>" class="btn btn-default" title="返回列表">
        <i class="icon-reply icon-only"></i></a>
    </small>
</h1>

<%= render 'form' %>
