<h1 class="page-header">
  添加赛事
  <small class="pull-right">
    <a href="<%= admin_competitions_path %>" class="btn btn-default" title="比赛列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>
<%= render 'form' %>