<h1 class="page-header">
  新增<%= t('activerecord.models.score') %>
  <small class="pull-right">
    <a href="<%= admin_scores_path %>" class="btn btn-default" title="成绩列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>