<div class="floor" id="register">
  <div id="nav" class="nav-v2 container-layer">
    <%= render 'layouts/nav_menu' %>
  </div>
  <div id="register-content" class="">
    <div class="passport" style="">
      <div class="passport-title t-22 text-center">
        重置密码方式
      </div>
      <div class="text-center select-forget-password">
        您通过
        <a href="/users/password/new" class="blue">邮箱</a> /
        <a href="<%= reset_password_accounts_path %>" class="blue">手机</a>
        在豆姆注册账户。
      </div>
    </div>
  </div>
</div>