<p>您好： <%= @email %>!</p>
<p>非常感谢您注册豆姆账户，请点击激活按钮来激活您的豆姆账户！</p>
<p>
  <button class="btn btn-lg btn-danger"><%= link_to '激活账户', confirmation_url(@resource, confirmation_token: @token) %></button>
</p>
<p>若不能点击激活按钮，请复制下面链接在浏览器中打开来激活</p>
<p> http://localhost:3000/users/confirmation?confirmation_token=<%= @token %></p>

<p>若您没有在豆姆平台注册账户，请忽略该邮件，不会对您造成任何影响</p>
