<p>您好！ <%= @resource.email %>!</p>

<p>有人发起了一个修改密码的请求，如果你想修改该账户密码，请点击下面的链接：</p>
<p>如果不是您本人发的请求，请忽略该邮件，不会对您造成任何影响</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不能点击链接，请复制下面链接到浏览器中打开来修改</p>
<p>http://localhost:3000/users/password/edit?reset_password_token=<%= @token %></p>
<p>如果您不想修改密码，请忽略该邮件，您的豆姆账户密码不会被更改！</p>
